body, html {
	margin:0;
	padding:0;

	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #272727;

	box-sizing: border-box;
}

#container {
	
}

.inner-container {
	margin-left: auto;
	margin-right: auto;

	height: 100%;
	width: 1440px;
}

h1 {
	text-align: center;
	color: #0c2645;

	margin: 0;
	
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 5px;
}


/* ***** SECTIONS ***** */

#header {
	background-image: url('img/wireframes.jpeg');
	background-size: cover;
	
	position: relative;

	height: 585px;
	width: 100%;
}

#header-overlay {
	opacity: 0.95;
	background-color: #0c2645;

	height: 100%;
	width: 100%;

	position: absolute;
}

#header .inner-container {
	z-index: 1;
	position: relative;
	text-align: center;;
}

#header h1 {
	border-top: solid 1px #ffffff;
	display: inline-block;

	padding-top: 14px;
	margin-top: 23px;
	width: 430px;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: 1.5px;
	color: #c6dff7;
	text-transform: uppercase;
}

#header h2 {
	margin-top: 4px;
	font-size: 30px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 0.9px;
	color: #ffffff;
}

#header .logo {
	width: 107px;
	height: 105px;

	margin-top: 140px;
}


#about {
	background-color: white;
	color: #0c2645;
	padding-top: 94px;
	padding-bottom: 94px;
}

#about h1 {
	display: inline-block;
	text-align: left;
	color: #0c2645;
	width: 400px;
	padding-top: 127px;
	margin-left: 500px;
	margin-bottom: -60px;
}

#about p {
	width: 450px;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.45;
	letter-spacing: 0.63px;

	margin-top: 0px;
	margin-bottom: 20px;
}

#about a {
	color: #0c2645;
	font-weight: 500;
	text-decoration: underline;
}

#about .download-info a {
	display: inline-block;
	background-color: #ffffff;
	color: #272727;
	text-decoration: none;
	text-align: center;

	margin-top: 35px;
	margin-bottom: 183px;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.6px;
	width: 200px;
	height: 55px;
	line-height: 55px;
	border-radius: 2px;
}

#about .inner-container {
	text-align: center;
}

#about .sub-section {
	display: inline-block;
	text-align: left;

	margin-left: 50px;
	margin-right: 50px;
	width: 400px;
}

#about .bio {
	vertical-align: top;
	padding-top: 45px;
}

#about .picture {

}

#about .nora-picture {
	width: 430px;
	height: 430px;
}


#contact {
	background-color: #eaeaea;
}

#contact > .inner-container {
	box-sizing: border-box;
	padding-top: 63px;
	padding-bottom: 63px;
}

#contact > div > div {
	background-color: #eaeaea;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;

	width: 950px;
	margin-bottom: 0;
}

#contact h1 {
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 0.73px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	padding-top: 0px;
	padding-bottom: 3px;
}

#contact .text {
	margin-bottom: 0;

	margin-top: 126px;
	font-size: 32px;
	font-weight: 300;
	line-height: 1.38;
	letter-spacing: 1px;
	color: #0b1a2c;
}

#contact .detail {
	margin-bottom: 0;

	margin-top: 20px;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.63;
	letter-spacing: 1px;
	color: #0b1a2c;
}

#contact .linkedin, #contact .medium {
	border: 0;

	width: 30px;
	height: 30px;

	margin: 0 auto;

	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

#footer {
	background-color: white;
	text-align: center;

	font-size: 12px;
	letter-spacing: 0.4px;

	height: 50px;
	line-height: 50px;
}

#footer span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
