/* ***** DESKTOP ***** */
@media only screen and (max-width: 1439px) {
	.inner-container {
		padding-left: 75px;
		width: initial;
	}
}


/* ***** TABLET ***** */
@media only screen and (max-width: 1023px) {
	.inner-container {
		padding-left: 50px;
	}

	#navigation {
		padding-left: 18px;
		padding-right: 18px;
	}

	#navigation a {
		font-size: 18px;
	}

	#download .download-info {
		font-size: 20px;
		line-height: 0.9;
	}
}


/* ***** PHONE ***** */
@media only screen and (max-width: 767px) {
	.inner-container {
		padding-left: 26px;
		padding-right: 26px;
	}

	h1 {
		margin-top: 95px;

		font-size: 24px;
		line-height: 1.17;
  		letter-spacing: 1px;
	}

	h2 {
		font-size: 22px;
		font-weight: 600;
		line-height: normal;
  		letter-spacing: 0.6px;
	}

	#menu {
		height: 40px;
	}

	#menu span {
		display: none;
	}

	#burger-button {
		display: inline-block;
		margin: 0 !important;

		position: absolute;
		top: 12px;
		right: 10px;

		z-index: 1002;

		line-height: 0 !important;
	}

	#burger-button .burger {
		width: 23px;
		height: 17px;
	}

	#close-button .close-menu {
		width: 23px;
		height: 17px;
	}

	#close-button {
		text-align: right;
		margin-right: 17px;

		margin-top: 21px !important;
	}

	#burger-menu {
		text-align: center;
	}

	#burger-menu.open {
		position: fixed;
		display: block;
		height: 400px;
		min-height: 100vh;
		top: 0;
		left: 0;
		right: 0;

		background-color: #759bbf;
		z-index: 1001;
	}

	#burger-menu a {
		display: block;

		font-size: 20px;
		letter-spacing: 0.6px;
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		padding-top: 22px;
		padding-bottom: 22px;
		margin-left: 40px;
		margin-right: 40px;

		border-bottom: solid 1px #ffffff;
	}

	#navigation {
		padding-left: 6px;
		padding-right: 6px;
	}

	#navigation a {
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: 0.5px;

		margin-top: 64px;
		margin-bottom: 64px;
		height: 28px;
		line-height: 28px;
	}

	#navigation .big {
		display: none;
	}

	#navigation .small {
		display: inline;
	}

	#download .download-info {
		font-size: 18px;
		line-height: 1;
  		letter-spacing: 0.6px;

  		padding-top: 102px;
	}

	#download .download-info a {
		margin-top: 30px;
	}

	#footer {
		background-color: white;
		text-align: center;

		font-size: 10px;
		letter-spacing: 0.4px;

		height: initial;
	}
}