body, html {
	margin:0;
	padding:0;

	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #203755;

	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

#container {
	
}

.inner-container {
	margin-left: auto;
	margin-right: auto;

	height: 100%;
	width: 1440px;

	padding-left: 100px;
}


/* ***** SECTIONS ***** */

#menu {
	background-color: #ffffff;
 	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);

 	z-index: 1000;

 	position: fixed;
 	top: 0;
 	left: 0;
 	right: 0;

	height: 160px;
	line-height: 60px;
}

#menu span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;

	padding-left: 9px;
}

#menu a {
	color: #0b1a2b;
	margin-right: 50px;

	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.6px;
	text-decoration: none;
}

#menu .active {
	margin-right: 50px;

	font-weight: 600;
	border-bottom: 1px solid #0b1a2b;
	padding-bottom: 1px;
}

#submenu {
	margin-top: 24px;

	padding-left: 9px;

	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
	color: #272727;
}

#submenu .current {
	font-weight: 600;
	border-bottom: 1px solid #0b1a2b;
	padding-left: 0;
}

#burger-button {
	display: none;
}

#burger-menu {
	display: none;
}

#navigation {
	padding-left: 48px;
	padding-right: 48px;
}

#navigation a {
	text-decoration: none;
	color: #0b1a2c;
	vertical-align: middle;
	display: inline-block;

	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.6px;

	margin-top: 90px;
	margin-bottom: 90px;
	height: 28px;
	line-height: 28px;
}

#navigation a img {  
	vertical-align: middle;
}

#navigation .previous {
	float: left;
}

#navigation .next {
	float: right;
}

#navigation .small {
	display: none;
}

#download {
  background-color: #e4e8e8;
}

#download .download-info {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	padding-top: 112px;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.09;
  	letter-spacing: 0.7px;
}

#download .download-info a {
	display: inline-block;
	background-color: #0c2645;
	color: white;
	text-decoration: none;

	margin-bottom: 112px;
	margin-top: 20px;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 0.6px;
	width: 200px;
	height: 55px;
	line-height: 55px;
	border-radius: 2px;
}

#footer {
	background-color: white;
	text-align: center;

	font-size: 12px;
	letter-spacing: 0.4px;

	height: 50px;
	line-height: 50px;
}

#footer span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}



































#header {
	background-image: url('img/icom/icom_title_HD.jpg');
	background-size: cover;
	
	position: relative;

	margin-top: 160px;
	padding-top: 103px;

	height: 680px;
	width: 100%;
}

#header .inner-container {
	padding-left: 0;
	margin-left: 0;
}

#header .title {
	background-color: #7aa8d1;
	width: 896px;
	padding-left: 60px;
	padding-top: 52px;
	padding-bottom: 64px;
}


#header h1 {
	text-align: left;

	margin: 0;
	margin-top: 0;
	margin-bottom: 4px;
	
	font-size: 55px;
	font-weight: 600;
	letter-spacing: 1.7px;
	line-height: 0.78;
	color: #ffffff;
}


#header h2 {
	text-align: left;

	margin: 0;
	margin-top: 20px;
	margin-bottom: 4px;
	margin-right: 240px;
	
	font-size: 36px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.19;
	letter-spacing: 1.7px;
	color: #ffffff;
}
