/* ***** DESKTOP ***** */
@media only screen and (max-width: 1439px) {
	
	.inner-container {
		width: 1024px;
	}

	h1 {
		font-size: 30px;
		font-weight: 500;
		letter-spacing: 5px;
	}

	#header {
		height: 495px;
	}

	#header h1 {
		padding-top: 9px;
		margin-top: 14px;
		font-size: 44px;
		font-weight: 300;
		letter-spacing: 1.3px;
	}

	#header h2 {
		margin-top: 1px;
		font-size: 26px;
		font-weight: 300;
		letter-spacing: 0.8px;
	}

	#header .logo {
		width: 86px;
		height: 85px;

		margin-top: 74px;
	}

	#whatido h1 {
		padding-top: 36px;
	}

	#whatido .download-info {
		padding-top: 40px;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.13;
		letter-spacing: 0.6px;
	}

	#whatido .download-info a {
		margin-bottom: 30px;
	}
	
	#about h1 {
		padding-top: 44px;
		margin-bottom: 15px;
		width: 370px;
		margin-left: 350px;
	}

	#about p {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.38;
		letter-spacing: 0.5px;
	}

	#about .download-info a {
		margin-top: 15px;
		margin-bottom: 40px;
	}

	#about .sub-section {
		display: inline-block;
		text-align: left;

		margin-left: 25px;
		margin-right: 25px;
		width: initial;
	}

	#about .bio {
		width: 370px;
		height: initial;
		vertical-align: top;
		padding-top: 0px;
	}

	#about .picture {
		width: 300px;
	}

	#about .nora-picture {
		width: 300px;
		height: 300px;
	}

	#portfolio h1 {
		padding-top: 50px;
	}

	#portfolio .project {
		margin-left: 11px;
		margin-right: 11px;
		width: 310px;
		height: 155px;
	}

	#portfolio .divider {
		height: 95px;
		width: 0;
	}
	
	#portfolio .project b {
		letter-spacing: 0.3px;
	}

	#portfolio .project img {
		height: 135px;
	}

	#portfolio .project:nth-child(1) {
		margin-bottom: 70px;
	}

	#portfolio .divider:nth-child(2) {
		display: inline-block;
		margin-bottom: 70px;
		width: 1px;
	}

	#portfolio .project:nth-child(3) {
		margin-bottom: 70px;
	}

	#portfolio .divider:nth-child(4) {
		display: inline-block;
		margin-bottom: 70px;
		width: 1px;
	}

	#portfolio .project:nth-child(5) {
		margin-bottom: 70px;
	}

	#portfolio .divider:nth-child(6) {
		display: none;
	}

	#portfolio .project:nth-child(7) {
	}

	#portfolio .divider:nth-child(8) {
		display: inline-block;
		width: 1px;
	}

	#portfolio .project:nth-child(9) {
	}

	#portfolio .divider:nth-child(10) {
		display: inline-block;
		width: 1px;
	}

	#portfolio .project:nth-child(11) {
	}

	#portfolio .download-info {
		padding-top: 40px;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.13;
		letter-spacing: 0.5px;
	}

	#portfolio .download-info a {

		margin-bottom: 30px;
	}

}

/* ***** TABLET ***** */
@media only screen and (max-width: 1023px) {
	
	.inner-container {
		width: 768px;
	}

	h1 {
		font-size: 24px;
  		letter-spacing: 5px;
	}

	#header {
		height: 372px;
	}

	#header h1 {
		padding-top: 9px;
		margin-top: 14px;
		font-size: 32px;
		font-weight: 300;
		letter-spacing: 1px;
	}

	#header h2 {
		margin-top: 1px;
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 0.6px;
	}

	#header .logo {
		width: 80px;
		height: 79px;

		margin-top: 58px;
	}

	#whatido h1 {
		padding-top: 36px;
	}
	
	#about h1 {
		padding-top: 55px;
		margin-bottom: 5px;
		width: 370px;
		margin-left: 280px;
	}

	#about p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.57;
		letter-spacing: 0.4px;
	}

	#about .download-info a {
		margin-top: 15px;
		margin-bottom: 40px;
	}

	#about .sub-section {
		display: inline-block;
		text-align: left;

		margin-left: 15px;
		margin-right: 15px;
		width: initial;
	}

	#about .bio {
		width: 370px;
		height: initial;
		vertical-align: top;
		padding-top: 0px;
	}

	#about .picture {
		width: 250px;
	}

	#about .nora-picture {
		width: 250px;
		height: 250px;
	}

	#portfolio h1 {
		padding-top: 34px;
	}

	#portfolio .project:nth-child(1) {
		margin-bottom: 70px;
	}

	#portfolio .divider:nth-child(2) {
		display: inline-block;
		margin-bottom: 70px;
		width: 1px;
	}

	#portfolio .project:nth-child(3) {
		margin-bottom: 70px;
	}

	#portfolio .divider:nth-child(4) {
		display: none;
	}

	#portfolio .project:nth-child(5) {
		margin-bottom: 70px;
	}

	#portfolio .divider:nth-child(6) {
		display: inline-block;
		margin-bottom: 70px;
		width: 1px;
	}

	#portfolio .project:nth-child(7) {
		margin-bottom: 70px;
	}

	#portfolio .divider:nth-child(8) {
		display: none;
	}

	#portfolio .project:nth-child(9) {
	}

	#portfolio .divider:nth-child(10) {
		display: inline-block;
		width: 1px;
	}

	#portfolio .project:nth-child(11) {
	}

	#contact {
		height: 423px;
	}

	#contact > .inner-container {
		padding-top: 57px;
	}

	#contact > div > div {
		width: 559px;
		height: 319px;
	}

	#contact h1 {
		font-size: 26px;
		font-weight: 300;
		letter-spacing: 0.8px;

		width: 237px;
		padding-top: 42px;
		padding-bottom: 3px;
	}

	#contact .text {
		margin-bottom: 0;

		margin-top: 25px;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.43;
		letter-spacing: 0.4px;
	}

	#contact .detail {
		margin-bottom: 0;

		margin-top: 24px;
		font-size: 28px;
		font-weight: 300;
		line-height: 1.21;
		letter-spacing: 0.9px;
	}

	#contact .linkedin {
		bottom: 35px;
	}

}

/* ***** PHONE ***** */
@media only screen and (max-width: 767px) {
	
	.inner-container {
		width: 100%;
	}

	h1 {
		font-size: 20px;
		letter-spacing: 5px;
	}

	#menu {
		height: 40px;
	}

	#menu span {
		display: none;
	}

	#burger-button {
		display: inline-block;
		margin: 0 !important;

		position: absolute;
		top: 12px;
		right: 10px;

		z-index: 1002;

		line-height: 0 !important;
	}

	#burger-button .burger {
		width: 23px;
		height: 17px;
	}

	#close-button .close-menu {
		width: 23px;
		height: 17px;
	}

	#close-button {
		text-align: right;
		margin-right: 17px;

		margin-top: 21px !important;
	}

	#burger-menu {
		text-align: center;
	}

	#burger-menu.open {
		position: fixed;
		display: block;
		height: 400px;
		top: 0;
		left: 0;
		right: 0;

		background-color: #759bbf;
		z-index: 1001;
	}

	#burger-menu a {
		display: block;

		font-size: 20px;
		letter-spacing: 0.6px;
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		margin-top: 35px;
	}

	#header {
		height: 360px;

		margin-top: 40px;
	}

	#header h1 {
		width: 232px;

		padding-top: 18px;
		margin-top: 20px;
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 0.6px;
	}

	#header h2 {
		margin-top: 0px;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.4px;
	}

	#header .logo {
		width: 55px;
		height: 55px;

		margin-top: 76px;
	}

	#whatido h1 {
		padding-top: 18px;
	}

	#whatido h2 {
		font-size: 18px;
		margin-bottom: 4px;
	}

	#whatido span {
		text-align: center;
		display: inline-block;

		font-size: 12px;
		font-weight: 300;
		letter-spacing: 0.4px;
		width: 300px;
	}

	#whatido .topic {
		margin-bottom: 40px;
	}

	#whatido .download-info {
		width: 247px;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.67;
		letter-spacing: 0.5px;
	}

	#whatido .download-info a {
		margin-bottom: 50px;
		margin-top: 14px;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.4px;
		border-radius: 4px;
	}
	
	#about h1 {
		width: 100%;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 22px;
		margin-left: 0;
		margin-bottom: 0;
	}

	#about {
	}

	#about p {
		width: 100%;
		font-size: 15px;
		font-weight: 300;
		line-height: 1.47;
		letter-spacing: 0.5px;

		margin-top: 0px;
		margin-bottom: 20px;
	}

	#about .download-info {
		text-align: center;
	}

	#about .download-info a {
		margin-top: 10px;
	}

	#about .sub-section {
		text-align: center;

		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	#about .bio {
		text-align: left;

		width: 235px;
		height: initial;
		vertical-align: top;
		padding-top: 25px;
	}

	#about .picture {

	}

	#about .nora-picture {
		width: 232px;
		height: 232px;
	}

	#portfolio h1 {
		padding-top: 25px;
	}

	#portfolio .projects {
		padding-top: 25px;
	}

	#portfolio .project {
		display: block;
		width: 320px;
		margin-left: auto;
		margin-right: auto;
	}

	#portfolio .project:nth-child(1) {
		margin-bottom: 0;
	}

	#portfolio .divider:nth-child(2) {
		display: inline-block;
		margin-top: 45px;
		margin-bottom: 45px;
		width: 278px;
		height: 1px;
	}

	#portfolio .project:nth-child(3) {
		margin-bottom: 0;
	}

	#portfolio .divider:nth-child(4) {
		display: inline-block;
		margin-top: 45px;
		margin-bottom: 45px;
		width: 278px;
		height: 1px;
	}

	#portfolio .project:nth-child(5) {
		margin-bottom: 0;
	}

	#portfolio .divider:nth-child(6) {
		display: inline-block;
		margin-top: 45px;
		margin-bottom: 45px;
		width: 278px;
		height: 1px;
	}

	#portfolio .project:nth-child(7) {
		margin-bottom: 0;
	}

	#portfolio .divider:nth-child(8) {
		display: inline-block;
		margin-top: 45px;
		margin-bottom: 45px;
		width: 278px;
		height: 1px;
	}

	#portfolio .project:nth-child(9) {
		margin-bottom: 0;
	}

	#portfolio .divider:nth-child(10) {
		display: inline-block;
		margin-top: 45px;
		margin-bottom: 45px;
		width: 278px;
		height: 1px;
	}

	#portfolio .project:nth-child(11) {
		margin-bottom: 0;
	}

	#contact {
		height: 367px;
	}

	#contact > .inner-container {
		padding-top: 24px;
	}

	#contact > div > div {
		width: 273px;
		height: 319px;
	}

	#contact h1 {
		font-size: 22px;
		font-weight: 300;
		letter-spacing: 0.7px;

		width: 181px;
		padding-top: 46px;
		padding-bottom: 3px;
	}

	#contact .text {
		margin-bottom: 0;

		margin-top: 25px;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.67;
		letter-spacing: 0.4px;
	}

	#contact .detail {
		margin-bottom: 0;

		margin-top: 24px;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.22;
		letter-spacing: 0.6px;
	}

	#contact .linkedin {
		bottom: 65px;
	}

	#footer {
		font-size: 10px;

		height: 61px;
		line-height: 61px;
	}

	#footer span {
		line-height: 1.1;
	}

}