/* ***** DESKTOP ***** */
@media only screen and (max-width: 1439px) {
	
	.inner-container {
		width: 1024px;
	}

	h1 {
		font-size: 24px;
		letter-spacing: 0.7px;
	}

	#whatido h1 {
		padding-top: 36px;
	}

	#about h1 {
		padding-top: 44px;
	}

	#portfolio h1 {
		padding-top: 34px;
	}

}

/* ***** TABLET ***** */
@media only screen and (max-width: 1023px) {
	
	.inner-container {
		width: 768px;
	}

	h1 {
		font-size: 24px;
		letter-spacing: 0.7px;
	}

	#whatido h1 {
		padding-top: 36px;
	}
	
	#about h1 {
		padding-top: 44px;
	}

	#portfolio h1 {
		padding-top: 34px;
	}

	#contact {
		height: 423px;
	}

	#contact > .inner-container {
		padding-top: 57px;
	}

	#contact > div > div {
		width: 559px;
		height: 319px;
	}

	#contact h1 {
		font-size: 26px;
		font-weight: 300;
		letter-spacing: 0.8px;

		width: 237px;
		padding-top: 42px;
		padding-bottom: 3px;
	}

	#contact .text {
		margin-bottom: 0;

		margin-top: 25px;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.43;
		letter-spacing: 0.4px;
	}

	#contact .detail {
		margin-bottom: 0;

		margin-top: 24px;
		font-size: 28px;
		font-weight: 300;
		line-height: 1.21;
		letter-spacing: 0.9px;
	}

	#contact .linkedin {
		bottom: 35px;
	}

}

/* ***** PHONE ***** */
@media only screen and (max-width: 767px) {
	
	.inner-container {
		width: 100%;
	}

	h1 {
		font-size: 20px;
		letter-spacing: 0.6px;
	}

	#whatido h1 {
		padding-top: 18px;
	}
	
	#about h1 {
		padding-top: 26px;
	}

	#portfolio h1 {
		padding-top: 23px;
	}

	#contact {
		height: 367px;
	}

	#contact > .inner-container {
		padding-top: 24px;
	}

	#contact > div > div {
		width: 273px;
		height: 319px;
	}

	#contact h1 {
		font-size: 22px;
		font-weight: 300;
		letter-spacing: 0.7px;

		width: 181px;
		padding-top: 46px;
		padding-bottom: 3px;
	}

	#contact .text {
		margin-bottom: 0;

		margin-top: 25px;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.67;
		letter-spacing: 0.4px;
	}

	#contact .detail {
		margin-bottom: 0;

		margin-top: 24px;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.22;
		letter-spacing: 0.6px;
	}

	#contact .linkedin {
		bottom: 65px;
	}

	#footer {
		font-size: 10px;

		height: 61px;
		line-height: 61px;
	}

	#footer span {
		line-height: 1.1;
	}

}